body {
    padding: 0;
    margin: 0;
}

#sources-box {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    text-align: center;
    padding: 10px 0;
    overflow: hidden auto;
    scrollbar-gutter: both-edges;
}

.source {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 0 7px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

.source:hover {
    border-color: deepskyblue;
}

.source .thumbnail {
    width: 150px;
    height: 150px;
}
.source .info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.source .source-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}